html 
    head 
        title Bienvenidos
        
    body 
        h1(style="width:50%; margin:auto; text-align:center" ) Bienvenido #{currentUser ? currentUser.username : 'Invitado'} 
        

        if !currentUser
            div(style="width:50%; margin:auto;" )
                ul(style="list-style-type:none;") 
                    li  
                        a(href="/auth/login") Sing in 
                    li 
                        a(href="/auth/register") Sing up 
        else 
            p 
                a(href='/auth/logout') logout