extends layout

block content
  div.container 
    h1.mb-5.mt-5(class="text-center") Iniciar Sesión
    form(action='/auth/login', method='POST')
      div(class="input-group mb-2 " style="width: 500px" class="mx-auto")
        label(for='username' style="width: 200px; background-color: 2a6e6b; color:white" class="input-group-text") Usuario:
        input.form-control(type='text', name='username', required, style="border:2px solid #2a6e6b")
      br
      div(class="input-group mb-2 " style="width: 500px" class="mx-auto")
        label(for='password' style="width: 200px; background-color: 2a6e6b; color:white" class="input-group-text") Contraseña:
        input.form-control(type='password', name='password', required, style="border:2px solid #2a6e6b")
      br
      div(class="d-grid gap-2 col-2 mx-auto")
        input(type='submit', value='Iniciar Sesión' class="btn btn-outline-success")
      br
      div(class="d-grid gap-2 col-2 mx-auto" style="width: 400px")
        a(href="/auth/register",class="btn btn-outline-success mx-auto" style="width: 300px") ¿No tienes Cuenta Registrarte?